[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/zen
Name=Zen
Comment=zen
Icon=/home/tommycom/Pictures/tux.png
Categories=Utility;