[Desktop Entry]
Version=1.0
Type=Application
Terminal=tru3
Exec=/usr/local/bin/zen
Name=Zen
Comment=zen
Icon=/home/tommycom/Pictures/tux.png
Categories=Utility;